<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DBControllerWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.205.103:8080/AlmacenDisecWeb/DBControllerWS"
                binding="basicHttpBinding" bindingConfiguration="DBControllerWSPortBinding"
                contract="AlmacenDisecWS.DBControllerWS" name="DBControllerWSPort" />
        </client>
    </system.serviceModel>
</configuration>